body {
    background-color: D8BFD8;
    font-family: "Poppins";
    margin: 0;
}

h1 {
    font-size: 30px;
    align-items: center;
}

p {
    font-size: 18px;
    margin: 30px 0;
}

.btn {
    padding: 10px 20px;
    border-radius: 3px;
}

.primary {
    background-color: 800080;
    color: white;
    border: 0;
}

.secondary {
    background-color: transparent;
    color: 800080;
    border-color: 800080;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.texto {
    max-width: 300px;
    align-content: space-around;
}

.botoes {
    display: flex;
    gap: 20px;
}