body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: purple;
}

.fundo {
    background: url(./img/bg.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    background-color: white;
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 30px 10px;
}

.beyonce {
    width: 100%;
    max-width: 150px;
}

.aside {
    display: flex;
}

.icone {
    font-size: 20px;
    padding: 6px;
    color: purple;
    border: 2px solid purple;
    border-radius: 40px;
    margin: 20px;
}